<!DOCTYPE html>
<html>
<head>
  <title>DealkeeperCrm</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="container">
    
    <div id="header">
      <h1>Dossier: Overname bedrijf X door bedrijf A</h1>
    </div>
    
    <div id="content">
      
      <%= yield %>
      
    </div>
    
    <div id="sidebar">
      
      <%= yield :sidebar %>
      
    </div>

  </div>

</body>
</html>
